<h1>About Us</h1>
<p>Meet our scientists!</p>
<br>
<br>

<div class="pics">
	
	<div style="width:380px;height:425px;-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;border:3px solid #595959;background:rgba(232,232,232,0.5);-webkit-box-shadow: #B3B3B3 17px 17px 17px;-moz-box-shadow: #B3B3B3 17px 17px 17px; box-shadow: #B3B3B3 13px 13px 13px;"><br>
		<div class="kyle">
			<img src="/assets/Profile.jpg" style="width:200px; height:200px; border-radius: 150px; border:3px solid #595959">
			<p><b>Kyle Mallard</b></p>
		</div>
	</div>
	<br>
	<br>
	
	<div style="width:380px;height:425px;-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;border:3px solid #595959;background:rgba(232,232,232,0.5);-webkit-box-shadow: #B3B3B3 17px 17px 17px;-moz-box-shadow: #B3B3B3 17px 17px 17px; box-shadow: #B3B3B3 13px 13px 13px;"><br>
		<div class="ethan">
			<img src="/assets/ethan.jpg" style="width:200px; height:200px; border-radius: 150px; border:3px solid #595959">
			<p><b>Ethan Willis</b></p>
		</div>
	</div>
	<br>
	<br>

	<div style="width:380px;height:425px;-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;border:3px solid #595959;background:rgba(232,232,232,0.5);-webkit-box-shadow: #B3B3B3 17px 17px 17px;-moz-box-shadow: #B3B3B3 17px 17px 17px; box-shadow: #B3B3B3 13px 13px 13px;"><br>
	<div class="matthew">
		<img src="/assets/longley.jpg" style="width:200px; height:200px; border-radius: 150px; border:3px solid #595959">
		<p><b>Matthew Longley</b></p>
	</div>
	<br>
	<br>
	<br>

</div>