<h1>About Us</h1>
<p>Meet our people!</p>
<br>
<br>
<br>

<div class="pics">
	
	<div class="kyle">
		<img src="/assets/Profile.jpg" style="width:200px; height:200px; border-radius: 150px">
		<p>Kyle Mallard</p>
		<p>I like to go do a whole bunch of stuff. Sometimes, I enjoy doing other stuff, but mostly stuff that involves stuff. Who knows what stuff I'm going to get into again! HURRR DERPPPP!!</p>
	</div>

	<div class="ethan">
		<img src="/assets/ethan.jpg" style="width:200px; height:200px; border-radius: 150px">
		<p>Ethan Willis</p>
		<p>I like to go do a whole bunch of stuff. Sometimes, I enjoy doing other stuff, but mostly stuff that involves stuff. Who knows what stuff I'm going to get into again! HURRR DERPPPP!!</p>
	</div>

	<div class="matthew">
		<img src="/assets/longley.jpg" style="width:200px; height:200px; border-radius: 150px">
		<p>Matthew Longley</p>
		<p>I like to go do a whole bunch of stuff. Sometimes, I enjoy doing other stuff, but mostly stuff that involves stuff. Who knows what stuff I'm going to get into again! HURRR DERPPPP!!</p>
	</div>

</div>