<h1>About Us</h1>
<p>Meet our people!</p>
<br>
<br>

<div class="pics">
	
	<div style="width:380px;height:425px;-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;border:3px solid #595959;background:rgba(232,232,232,0.5);-webkit-box-shadow: #B3B3B3 17px 17px 17px;-moz-box-shadow: #B3B3B3 17px 17px 17px; box-shadow: #B3B3B3 13px 13px 13px;"><br>
		<div class="kyle">
			<img src="/assets/Profile.jpg" style="width:200px; height:200px; border-radius: 150px; border:3px solid #595959">
			<p><b>Kyle Mallard</b></p>
			<p>I like to go do a whole buncdsfgsdfgsdfgsdfgsdfg sdfg sdfg sd fh of stuff. Sometimes,asdf asd  w sdaf e sdfasdf asdfwef  f  d adsf wdfa sd s sd adefas asdfaasdf a fasd fasd fawefasd asd as dfawef asdf asdf asdf asdf asdf sdfasdfasdfasd asd fasd fasd fasd fasd fasdf asd fas dfasd fda sdf  I enjoy doing other stuff, but mostly stuff that involves stuff. Who knows what stuff I'm going to get into again! HURRR DERPPPP!!</p>
		</div>
	</div>
	<br>
	<br>
	
	<div style="width:380px;height:425px;-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;border:3px solid #595959;background:rgba(232,232,232,0.5);-webkit-box-shadow: #B3B3B3 17px 17px 17px;-moz-box-shadow: #B3B3B3 17px 17px 17px; box-shadow: #B3B3B3 13px 13px 13px;"><br>
		<div class="ethan">
			<img src="/assets/ethan.jpg" style="width:200px; height:200px; border-radius: 150px; border:3px solid #595959">
			<p><b>Ethan Willis</b></p>
			<p>I like to go do a whole buncdsfgsdfgsdfgsdfgsdfg sdfg sdfg sd fh of stuff. Sometimes,asdf asd  w sdaf e sdfasdf asdfwef  f  d adsf wdfa sd s sd adefas asdfaasdf a fasd fasd fawefasd asd as dfawef asdf asdf asdf asdf asdf sdfasdfasdfasd asd fasd fasd fasd fasd fasdf asd fas dfasd fda sdf  I enjoy doing other stuff, but mostly stuff that involves stuff. Who knows what stuff I'm going to get into again! HURRR DERPPPP!!</p>
		</div>
	</div>
	<br>
	<br>

	<div style="width:380px;height:425px;-webkit-border-radius: 56px;-moz-border-radius: 56px;border-radius: 56px;border:3px solid #595959;background:rgba(232,232,232,0.5);-webkit-box-shadow: #B3B3B3 17px 17px 17px;-moz-box-shadow: #B3B3B3 17px 17px 17px; box-shadow: #B3B3B3 13px 13px 13px;"><br>
	<div class="matthew">
		<img src="/assets/longley.jpg" style="width:200px; height:200px; border-radius: 150px; border:3px solid #595959">
		<p><b>Matthew Longley</b></p>
		<p>I like to go do a whole buncdsfgsdfgsdfgsdfgsdfg sdfg sdfg sd fh of stuff. Sometimes,asdf asd  w sdaf e sdfasdf asdfwef  f  d adsf wdfa sd s sd adefas asdfaasdf a fasd fasd fawefasd asd as dfawef asdf asdf asdf asdf asdf sdfasdfasdfasd asd fasd fasd fasd fasd fasdf asd fas dfasd fda sdf  I enjoy doing other stuff, but mostly stuff that involves stuff. Who knows what stuff I'm going to get into again! HURRR DERPPPP!!</p>
	</div>
	<br>
	<br>
	<br>

</div>