<h1>About Us</h1>
<p>Meet our people!</p>

<div class="pics">

	<img src="/assets/Profile.jpg" style="width:200px; height:200px; border-radius: 150px">
	<div class="boxed">
		Kyle Mallard
	</div>

	<img src="/assets/ethan.jpg" style="width:200px; height:200px; border-radius: 150px">
	<div class="boxed">
		Ethan Willis
	</div>

	<img src="/assets/longley.jpg" style="width:200px; height:200px; border-radius: 150px">
	<div class="boxed">
		Matthew Longley
	</div>

</div>