<h1>Currently Under Construction: Contact Us</h1>
	<h3>Please feel free to contact us at any time. You can either email (mallardcybersolutions@gmail.com), call (910) 581-1071, or shoot us a message via the form below</h3>
<br>
<br>
<div class="form">
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Name:</label><br>
		<input id="name" class="input" name="name" type="text" value="" size="30"><br>
	</div>
	<div class="row">
		<label for="email">Phone Number:</label><br>
		<input id="number" class="input" name="number" type="text" value="" size="30"><br>
	</div>
	<div class="row">
		<label for="email">Email:</label><br>
		<input id="email" class="input" name="email" type="text" value="" size="30"><br>
	</div>
	<div class="row">
		<label for="message">Message:</label><br>
		<textarea id="message" class="input" name="message" rows="7" cols="50"></textarea><br>
	</div>
	<button class="myButton">Submit</button>
</form>
</div>