<h1>Profiles</h1>
<p>Meet our people!</p>

<div class="pics">
	<img src="/assets/Profile.jpg" style="width:200px; height:200px">
	<img src="/assets/ethan.jpg" style="width:200px; height:200px">
	<img src="/assets/longley.jpg" style="width:200px; height:200px">
</div>