body {
	padding-top: 40px;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

div.pics {
	-webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    column-width: 100px;
    column-count: 3;
}

div.kyle {
	text-align: center;
}
div.ethan {
	text-align: center;
}
div.matthew {
	text-align: center;
}

div.services {
	-webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    column-width: 100px;
    column-count: 5;
    text-align: center;
}